<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue sur {{ ansible_nodename }}</title>
</head>
<body>
    <h1>Bienvenue sur {{ ansible_nodename }}</h1>   
</body>
</html>
